@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.sec-1 {
  background-image: url(img/262012-P4LQCB-641\ 1.png);
  background-size: cover;
  height: 100vh;
}
.sec-1 .text-center {
  padding: 30px;
}
.sec-1 .text-center img {
  width: 50px;
}
.sec-1 .text-center h1 {
  font-size: 30px;
  font-weight: 900;
  color: white;
}
.sec-1 .text-center h1 span {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.sec-1 .text-center .text {
  margin-top: 40px;
}
.sec-1 .text-center .text {
  color: white;
}
.sec-1 .text-center .text h2 {
  font-size: 50px;
  font-weight: 700;
}
.sec-1 .text-center .d-flex {
  justify-content: center;
  align-items: center;
  color: white;
}
.sec-1 .text-center .d-flex img{
    width: 70px;
}
.sec-1 .text-center button{
    border: #50B2EA solid 2px;
    background-color: #50B2EA;
    color: white;
    width: 130px;
    font-weight: 700;
}
.sec-3{
    background-image: url(img/Group\ 28.png);
    height: 100vh;
}
.sec-3 h1{
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 800;
}
.sec-3 .d-flex{
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.sec-3 .d-flex img{
    width: 110px;
}
.sec-3 .d-flex h2{
    font-size: 20px;
    color: white;
}
.sec-3 .d-flex p{
    color: white;
}

.sec-4{
    height: 100vh;
}
.sec-4 h3{
    font-size: 40px;
    font-weight: 900;
    color: #50B2EA;
}
.sec-4 h4{
    color: #50B2EA;
}
.sec-4 p{
    color: #50B2EA;
}
.sec-4 img{
    width: 200px;
}
.sec-5{
    height: 75vh;
}
.sec-5 h1{
    font-size: 40px;
    font-weight: 900;
    color: #50B2EA;
}
.sec-5 .text{
    width: 300px;
    margin: auto;
}
.sec-5 .text input{
    margin: 10px;
    border-radius: 20px;
    background-color: #50B2EA;
}
footer{
    height: 5vh;
    background-color: #50B2EA;
    color: white;
}